

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

/*
Modifique un mínimo de tres variables dentro de :root{} 
Para seleccionarlas, revise: https://getbootstrap.com/docs/5.1/customize/css-variables/
*/

:root {
    --bs-body-font-family: 'Mukta', sans-serif;
    --bs-body-font-size: 0.8rem;
    --bs-body-font-weight: 310;
}

/*
Si el peso de la fuente para sus títulos y negrita es distinto de 600, 
indique cuál sería (ver pesos de fuente importada)
*/

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 500;
}



#fondo-con-imagen {
    height: 70vh;
    background-image: url("img/dinosauriofondoimagen2222.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
